1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "SkullQuake"
      VALUE "FileDescription", "CrowQJS Plugin"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "crowqjsplugin"
      VALUE "LegalCopyright", "LGPL"
      VALUE "OriginalFilename", "plugin.dll"
      VALUE "ProductName", "crowqjsplugin"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
